.materials-wrapper {
  width: fit-content;
  margin-bottom: 20px;
  & .materials-title {
    font-weight: 600;
    font-size: 28px;
  }
  & .materials-items-wrapper {
    display: flex;
    gap: 15px;
    & .material-item {
      cursor: pointer;
      width: 60px;
      height: 60px;
      border: 3px solid transparent;
      transition: 0.3s ease;
    }
    & .material-item.active {
      border: 3px solid #0a78be;
    }
  }
}
