.color-wrapper {
  width: 47px;
  height: 38px;
}
.border-selector {
  display: flex;
  font-size: 10px;
}
.left-part {
  float: left;
  margin-right: 2px;
  margin-top: 14px;
  text-align: center;
}
.center-part {
  text-align: center;
}
.border-top,
.border-bottom {
  margin: 0 2px;
}
.right-part {
  float: left;
  margin-left: 2px;
  margin-top: 14px;
  text-align: center;
}
th,
td {
  text-align: left;
  vertical-align: top;
  padding: 0.75rem;
}
.plane-input {
  padding: 10px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 7px;
  transition: border 50ms ease-in;
}
.plane-input:focus {
  // border: 1px solid #0a78be !important;
  transition: 0.3s ease;
  box-shadow: 0px 0px 11px 2px rgba(35, 112, 156, 0.4);
  -webkit-box-shadow: 0px 0px 11px 2px rgba(35, 112, 156, 0.4);
  -moz-box-shadow: 0px 0px 11px 2px rgba(35, 112, 156, 0.4);
}
.add-btn {
  outline: none;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 7px;
  font-weight: 600;
}
thead tr th {
  border-bottom: 1px solid #ddd;
}
.close {
  font-size: 30px;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.dimensions-wrapper {
  max-height: 400px;
  overflow-y: auto;
}
tbody tr:first-child,
thead {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}
tbody tr:first-child {
  top: 40px;
}
.dim {
  box-shadow: 0 0 1px 1px #ddd;
}
td:has(input, button) {
  padding-top: 25px;
}
.layer-id {
  padding-top: 30px;
}
.plane-quantity input {
  width: 100px;
}