:root {
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #576f72;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #576f72;
  --error-color: #d22b2b;
}
.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
  // &::placeholder {
  //   color: var(--input-placeholder);
  // }
  &:focus {
    outline: none;
    border-color: var(--input-border-focus);
  }
}

.form-group {
  position: relative;
  width: 300px;
  margin-bottom: 15px;
  & > div {
    display: flex;
  }
  & > div > label,
  & > div > .form-field {
    white-space: nowrap;
    display: block;
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
  }
  .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }
  & div > label {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    width: 80px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  & > div:focus-within {
    & > label {
      color: var(--group-color-focus);
      background: var(--group-background-focus);
      border-color: var(--group-border-focus);
    }
  }
  & > button {
    background: var(--input-border-focus);
    color: var(--input-background);
    padding: 10px 25px;
    border-radius: 6px;
    transition: 0.3s ease;
  }
  & > button:disabled {
    background-color: var(--group-background);
    color: var(--group-color);
    cursor: not-allowed;
  }
}
.error {
  color: var(--error-color);
  font-weight: 500;
  font-size: 14px;
}
