.App {
  font-family: sans-serif;
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.container {
  // padding: 20px 0 20px 30px;
  width: fit-content;
  display: flex;
  & .dimensionsFileds {
    display: flex;
    gap: 30px;
  }
}
body::-webkit-scrollbar {
  display: none;
}