.App {
  font-family: sans-serif;
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #0a78be;
}
.dim-price-wrapper {
  display: flex;
  gap: 30px;
  // flex-direction: column;
  // gap: ;
}
.container {
  // padding: 20px 0 20px 30px;
  // width: 100%;
  padding: 30px;
  & .dimensionsFileds {
    display: flex;
    gap: 30px;
  }
}
body::-webkit-scrollbar {
  display: none;
}
.error {
  font-size: 10px;
  color: #dd264e;
  font-weight: 600;
  margin: 7px 0;
  width: 130px;
}
